USE [master]
GO
/****** Object:  Database [QuanlyThuvien]    Script Date: 9/26/2020 11:22:40 PM ******/
CREATE DATABASE [QuanlyThuvien]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QuanlyThuvien', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\QuanlyThuvien.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QuanlyThuvien_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\QuanlyThuvien_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuanlyThuvien].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QuanlyThuvien]
GO
/****** Object:  Table [dbo].[DAUSACH]    Script Date: 9/26/2020 11:22:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DAUSACH](
	[MADAUSACH] [char](10) NOT NULL,
	[TENDAUSACH] [nvarchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[MADAUSACH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOCVIEN]    Script Date: 9/26/2020 11:22:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOCVIEN](
	[MAHV] [char](10) NOT NULL,
	[TENHV] [nvarchar](50) NOT NULL,
	[SDT] [char](10) NULL,
	[NGAYSINH] [date] NULL,
	[DONVI] [char](10) NULL,
	[GIOITINH] [nvarchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[MAHV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MUONSACH]    Script Date: 9/26/2020 11:22:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MUONSACH](
	[MAPHIEU] [char](10) NULL,
	[MASACH] [char](10) NULL,
	[TRANGTHAI] [nvarchar](50) NULL,
	[NGAYHENTRA] [date] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEUMUON]    Script Date: 9/26/2020 11:22:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUMUON](
	[MAPHIEU] [char](10) NOT NULL,
	[NGAYMUON] [date] NULL,
	[MAHV] [char](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[MAPHIEU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SACH]    Script Date: 9/26/2020 11:22:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SACH](
	[MASACH] [char](10) NOT NULL,
	[TENSACH] [nvarchar](30) NULL,
	[TRANGTHAI] [nvarchar](10) NULL,
	[SOLUONG] [int] NULL,
	[TENNXB] [nvarchar](30) NULL,
	[TENTG] [nvarchar](30) NULL,
	[MADAUSACH] [char](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[MASACH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TRASACH]    Script Date: 9/26/2020 11:22:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TRASACH](
	[MASACH] [char](10) NULL,
	[MAHV] [char](10) NULL,
	[TRANGTHAI] [nvarchar](50) NULL,
	[NGAYTRA] [date] NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[MUONSACH]  WITH CHECK ADD  CONSTRAINT [FK_M_PH] FOREIGN KEY([MAPHIEU])
REFERENCES [dbo].[PHIEUMUON] ([MAPHIEU])
GO
ALTER TABLE [dbo].[MUONSACH] CHECK CONSTRAINT [FK_M_PH]
GO
ALTER TABLE [dbo].[MUONSACH]  WITH CHECK ADD  CONSTRAINT [FK_M_S] FOREIGN KEY([MASACH])
REFERENCES [dbo].[SACH] ([MASACH])
GO
ALTER TABLE [dbo].[MUONSACH] CHECK CONSTRAINT [FK_M_S]
GO
ALTER TABLE [dbo].[PHIEUMUON]  WITH CHECK ADD  CONSTRAINT [FK_PH] FOREIGN KEY([MAHV])
REFERENCES [dbo].[HOCVIEN] ([MAHV])
GO
ALTER TABLE [dbo].[PHIEUMUON] CHECK CONSTRAINT [FK_PH]
GO
ALTER TABLE [dbo].[SACH]  WITH CHECK ADD  CONSTRAINT [FK_S] FOREIGN KEY([MADAUSACH])
REFERENCES [dbo].[DAUSACH] ([MADAUSACH])
GO
ALTER TABLE [dbo].[SACH] CHECK CONSTRAINT [FK_S]
GO
ALTER TABLE [dbo].[TRASACH]  WITH CHECK ADD  CONSTRAINT [FK_T_HV] FOREIGN KEY([MAHV])
REFERENCES [dbo].[HOCVIEN] ([MAHV])
GO
ALTER TABLE [dbo].[TRASACH] CHECK CONSTRAINT [FK_T_HV]
GO
ALTER TABLE [dbo].[TRASACH]  WITH CHECK ADD  CONSTRAINT [FK_T_S] FOREIGN KEY([MASACH])
REFERENCES [dbo].[SACH] ([MASACH])
GO
ALTER TABLE [dbo].[TRASACH] CHECK CONSTRAINT [FK_T_S]
GO
ALTER TABLE [dbo].[HOCVIEN]  WITH CHECK ADD CHECK  (([GIOITINH]=N'Nữ' OR [GIOITINH]=N'Nam'))
GO
ALTER TABLE [dbo].[SACH]  WITH CHECK ADD CHECK  (([TRANGTHAI]=N'Hết' OR [TRANGTHAI]=N'Còn'))
GO
USE [master]
GO
